.difficulty-title {
  font-size: 1.6rem;
  font-weight: 400;
}

.difficulty-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.difficulty-buttons {
  display: flex;
  justify-content: center;
}

.difficulty-buttons .button {
  max-width: 250px;
  font-size: 1.1rem;
  font-weight: 400;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}